ul li.checked {
    text-decoration: line-through;
}
ul li {
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.close{
    position: absolute;
    padding-left: 10px;
    color: red;
}